* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    user-select: none;
    text-decoration: none;
}

li {
    list-style: none;
}

.slider-container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    .slides {
        max-width: 1025px;
        width:100%;
        height:150px;
        display: grid;
        justify-content: flex-start;        
        align-items: center;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-template-rows: 150px;
        grid-gap: 25px;
        margin: 25px 5px;

        li:nth-child(even) {
            background-color:rgb(0,255,0);
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 150px;
            background-color:rgb(150,150,0);
            text-align: center;
            font-size: 3rem;
            color: #fff;
            cursor: pointer;

            a {
                color: #fff;
            }
        }

        li:hover { 
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
        }
    }
    .prev-slide,
    .next-slide {
        display: flex;
        padding: 0 25px;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: bold;
        font-size: 24px;
        cursor: pointer;
        user-select: none;
        visibility: hidden;
    }
}

.slider-container:hover {

    .prev-slide,
    .next-slide {
        visibility: visible;
    }
}

.hidden {
    display: none;
}

.animate {
    animation: fade 1s ease;
}

@keyframes fade {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.boop {
    animation: boop 1s ease;
}

@keyframes boop {

    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(60px);
    }

    80% {
        transform: translateY(10px);
    }
}

//Small screen laptops & tablets
@media only screen and (max-width: 1024px) {
    .slider-container {
        .slides {
            max-width: 850px;
        }
    }
}

//Tablet
@media only screen and (max-width: 768px) {
    .slider-container {
        .slides {
            max-width: 670px;
        }

        .prev-slide,
        .next-slide {
            padding: 0 14px;
        }
    }
}

//Phone
@media only screen and (max-width: 425px) {
    .slider-container {
        .slides {
            max-width: 313px; 
            height:298px;
            grid-gap: 12px;
            margin: 25px auto;
        }
        .slider-container {    
            .prev-slide,
            .next-slide {
                padding: 0;
                position: absolute;
            }
        }
    }
}

//Small to medium screen phones
@media only screen and (max-width: 375px) {
    .slider-container {

        .prev-slide,
        .next-slide {
            padding: 0;
        }
    }
}